{
	"plugins": ["react", "prettier"],
	"extends": ["react-app", "airbnb", "prettier"],
	"rules": {
		"prettier/prettier": [
			"error",
			{
				"trailingComma": "all",
				"tabWidth": 2,
				"singleQuote": true,
				"jsxBracketSameLine": true,
				"endOfLine": "auto"
			}
		],
		"react/jsx-filename-extension": [
			"warn",
			{
				"extensions": [".js", ".jsx"]
			}
		]
	}
}